[submodule "riscv-tools"]
	path = riscv-tools
	url = https://github.com/riscv/riscv-tools.git
[submodule "connectal"]
	path = connectal
	url = https://github.com/csail-csg/connectal.git
[submodule "fpgamake"]
	path = fpgamake
	url = https://github.com/cambridgehackers/fpgamake.git
[submodule "codegen/riscv-meta"]
	path = codegen/riscv-meta
	url = https://github.com/michaeljclark/riscv-meta.git
[submodule "buildcache"]
	path = buildcache
	url = https://github.com/cambridgehackers/buildcache.git
